#loader ***REMOVED***
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  ***REMOVED***
  
  #loader ul ***REMOVED***
    display: flex;
  ***REMOVED***
  #loader ul li ***REMOVED***
    width: 20px;
    height: 20px;
    margin: 10px;
    list-style-type: none;
    transition: 0.5s all ease;
  ***REMOVED***
  #loader ul li:nth-child(1) ***REMOVED***
    animation: right-1 1s infinite alternate;
    background-color: #DDD8B8;
    animation-delay: 100ms;
  ***REMOVED***
  @keyframes right-1 ***REMOVED***
    0% ***REMOVED***
      transform: translateY(-60px);
    ***REMOVED***
    100% ***REMOVED***
      transform: translateY(60px);
    ***REMOVED***
  ***REMOVED***
  #loader ul li:nth-child(2) ***REMOVED***
    animation: right-2 1s infinite alternate;
    background-color: #B3CBB9;
    animation-delay: 200ms;
  ***REMOVED***
  @keyframes right-2 ***REMOVED***
    0% ***REMOVED***
      transform: translateY(-70px);
    ***REMOVED***
    100% ***REMOVED***
      transform: translateY(70px);
    ***REMOVED***
  ***REMOVED***
  #loader ul li:nth-child(3) ***REMOVED***
    animation: right-3 1s infinite alternate;
    background-color: #84A9C0;
    animation-delay: 300ms;
  ***REMOVED***
  @keyframes right-3 ***REMOVED***
    0% ***REMOVED***
      transform: translateY(-80px);
    ***REMOVED***
    100% ***REMOVED***
      transform: translateY(80px);
    ***REMOVED***
  ***REMOVED***
  #loader ul li:nth-child(4) ***REMOVED***
    animation: right-4 1s infinite alternate;
    background-color: #6A66A3;
    animation-delay: 400ms;
  ***REMOVED***
  @keyframes right-4 ***REMOVED***
    0% ***REMOVED***
      transform: translateY(-90px);
    ***REMOVED***
    100% ***REMOVED***
      transform: translateY(90px);
    ***REMOVED***
  ***REMOVED***
  #loader ul li:nth-child(5) ***REMOVED***
    animation: right-5 1s infinite alternate;
    background-color: #58548E;
    animation-delay: 500ms;
  ***REMOVED***
  @keyframes right-5 ***REMOVED***
    0% ***REMOVED***
      transform: translateY(-100px);
    ***REMOVED***
    100% ***REMOVED***
      transform: translateY(100px);
    ***REMOVED***
  ***REMOVED***
  