***REMOVED***% load static %***REMOVED***

<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="***REMOVED***% static 'wololo/css/index.css' %***REMOVED***" type="text/css">
    <link rel="stylesheet" href="***REMOVED***% static 'wololo/css/main.css' %***REMOVED***" type="text/css">
    <link rel="stylesheet" href="***REMOVED***% static 'wololo/css/game.css' %***REMOVED***" type="text/css">
    <!-- link(rel='shortcut icon', href='/favicon.png') -->

    ***REMOVED***% block headcdn %***REMOVED*** ***REMOVED***% endblock %***REMOVED***


</head>

<body>
    ***REMOVED***% include "partials/navbar.html" %***REMOVED***

    <div class="container">
        ***REMOVED***% block content %***REMOVED*** ***REMOVED***% endblock %***REMOVED***
    </div>

    <!-- Welcome broooo -->

    ***REMOVED***% include 'partials/footer.html' %***REMOVED***

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="***REMOVED***% static 'wololo/assets/js/popper.js/dist/umd/popper.min.js' %***REMOVED***"></script>

    ***REMOVED***% block footerjs %***REMOVED*** ***REMOVED***% endblock %***REMOVED***

</body>

</html>