<!-- <span class="badge badge-warning">Wood <div id="wood">X</div></span>
<span class="badge badge-warning">Iron <div id="iron">Y</div></span>
<span class="badge badge-warning">Clay <div id="clay">Z</div></span>
<span class="badge badge-warning">Storage <div id="storage">T</div></span> -->

<div class="card">
    <div class="row mt-3 mb-3 ml-2">
        <div class="col">
            <div class="btn-group">
                <button id="switchVillage" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ***REMOVED******REMOVED***data.selectedVillage.villageName***REMOVED******REMOVED***
                </button>
                <div class="dropdown-menu">
                    ***REMOVED***% for village in myVillages %***REMOVED***
                        ***REMOVED***% if data.page == 'myVillages' %***REMOVED***
                            <a class="dropdown-item" href="/game/***REMOVED******REMOVED***village.index***REMOVED******REMOVED***">***REMOVED******REMOVED***village.villageName***REMOVED******REMOVED***</a>
                        ***REMOVED***% endif %***REMOVED***
                        ***REMOVED***% if data.page == 'map' %***REMOVED***
                        <a class="dropdown-item" href="/game/***REMOVED******REMOVED***village.index***REMOVED******REMOVED***/map">***REMOVED******REMOVED***village.villageName***REMOVED******REMOVED***</a>
                        ***REMOVED***% endif %***REMOVED***
                    ***REMOVED***%endfor%***REMOVED***
                </div>
            </div>
        </div>
        <div class="col">
            ***REMOVED***% if data.page == 'myVillages' %***REMOVED***
            <div class="toggleVisualVillage custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggleVisualVillage">
                <label class="custom-control-label" for="toggleVisualVillage">Toggle Visual Village</label>
              </div>
            ***REMOVED***% endif %***REMOVED***
        </div>
        <div class="col">
            <span class="badge badge-warning">Wood <div id="wood">X</div></span>
            <span class="badge badge-warning">Iron <div id="iron">Y</div></span>
            <span class="badge badge-warning">Clay <div id="clay">Z</div></span>
            <span class="badge badge-warning">Storage <div id="storage">T</div></span>
        </div>
    </div>
</div>