/**
Default styles for some custom classes.
Change with theme as appropriate..
*/

.deprecated-notice ***REMOVED***
    border: 2px solid rgb(255, 238, 238);
    padding: 10px;
    margin-bottom: 10px;
***REMOVED***

.toc-deprecated ***REMOVED***
    text-decoration: line-through;
***REMOVED***

.returns-type ***REMOVED***
    float: left;
    padding-right: 10px;
***REMOVED***

.returns-desc ***REMOVED***    
***REMOVED***

dt a ***REMOVED***
    font-weight: normal;
***REMOVED***
