/* global styles */
.sunlight-container ***REMOVED***
	clear: both !important;
	position: relative !important;
	margin: 10px 0 !important;
***REMOVED***
.sunlight-code-container ***REMOVED***
	clear: both !important;
	position: relative !important;
	border: none;
	border-color: #969696 !important;
	background-color: #FFFFFF !important;
***REMOVED***
.sunlight-highlighted, .sunlight-container, .sunlight-container textarea ***REMOVED***
	font-family: Consolas, Inconsolata, Monaco, "Courier New" !important;
	font-size: 12px !important;
	line-height: 15px !important;
***REMOVED***
.sunlight-highlighted, .sunlight-container textarea ***REMOVED***
	color: #000000 !important;
	margin: 0 !important;
***REMOVED***
.sunlight-container textarea ***REMOVED***
	padding-left: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
***REMOVED***
.sunlight-code-container > .sunlight-highlighted ***REMOVED***
	white-space: pre;
	overflow-x: auto;
	overflow-y: hidden; /* ie requires this wtf? */
***REMOVED***
.sunlight-highlighted ***REMOVED***
	z-index: 1;
	position: relative;
***REMOVED***
.sunlight-highlighted * ***REMOVED***
	background: transparent;
***REMOVED***
.sunlight-line-number-margin ***REMOVED***
	float: left !important;
	margin-right: 5px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
	padding-right: 4px !important;
	padding-left: 4px !important;
	border-right: 1px solid #CCCCCC !important;
	background-color: #EEEEEE !important;
	color: #848484 !important;
	text-align: right !important;
	position: relative;
	z-index: 3;
***REMOVED***
.sunlight-highlighted a, .sunlight-line-number-margin a  ***REMOVED***
	border: none !important;
	text-decoration: none !important;
	font-weight: normal !important;
	font-style: normal !important;
	padding: 0 !important;
***REMOVED***
.sunlight-line-number-margin a ***REMOVED***
	color: inherit !important;
***REMOVED***
.sunlight-line-highlight-overlay ***REMOVED***
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
***REMOVED***
.sunlight-line-highlight-overlay div ***REMOVED***
	height: 15px;
	width: 100%;
***REMOVED***
.sunlight-line-highlight-overlay .sunlight-line-highlight-active ***REMOVED***
	background-color: #E7FCFA;
***REMOVED***

/* menu */
.sunlight-menu ***REMOVED***
	background-color: #FFFFCC;
	color: #000000;
***REMOVED***
.sunlight-menu ul ***REMOVED***
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none !important;
***REMOVED***
.sunlight-menu li ***REMOVED***
	float: right !important;
	margin-left: 5px !important;
***REMOVED***
.sunlight-menu a, .sunlight-menu img ***REMOVED***
	color: #000099 !important;
	text-decoration: none !important;
	border: none !important;
***REMOVED***




.sunlight-string,
.sunlight-char,
.sunlight-heredoc,
.sunlight-heredocDeclaration,
.sunlight-nowdoc,
.sunlight-longString,
.sunlight-rawString,
.sunlight-binaryString,
.sunlight-rawLongString,
.sunlight-binaryLongString,
.sunlight-verbatimString,
.sunlight-diff .sunlight-removed ***REMOVED***
	color: #990000 !important;
***REMOVED***

.sunlight-ident,
.sunlight-operator,
.sunlight-punctuation,
.sunlight-delimiter,
.sunlight-diff .sunlight-unchanged ***REMOVED***
	color: #000000 !important;
***REMOVED***

.sunlight-comment,
.sunlight-xmlDocCommentContent,
.sunlight-nginx .sunlight-ssiCommand,
.sunlight-sln .sunlight-formatDeclaration,
.sunlight-diff .sunlight-added ***REMOVED***
	color: #009900 !important;
***REMOVED***
.sunlight-number,
.sunlight-guid,
.sunlight-cdata ***REMOVED***
	color: #CC6600 !important;
***REMOVED***

.sunlight-named-ident,
.sunlight-constant,
.sunlight-javascript .sunlight-globalVariable,
.sunlight-globalObject,
.sunlight-python .sunlight-attribute,
.sunlight-nginx .sunlight-context,
.sunlight-httpd .sunlight-context,
.sunlight-haskell .sunlight-class,
.sunlight-haskell .sunlight-type,
.sunlight-lisp .sunlight-declarationSpecifier,
.sunlight-erlang .sunlight-userDefinedFunction,
.sunlight-diff .sunlight-header ***REMOVED***
	color: #2B91AF !important;
***REMOVED***
.sunlight-keyword,
.sunlight-languageConstruct,
.sunlight-css
.sunlight-element,
.sunlight-bash .sunlight-command,
.sunlight-specialOperator,
.sunlight-erlang .sunlight-moduleAttribute,
.sunlight-xml .sunlight-tagName,
.sunlight-xml .sunlight-operator,
.sunlight-diff .sunlight-modified ***REMOVED***
	color: #0000FF !important;
***REMOVED***
.sunlight-shortOpenTag,
.sunlight-openTag,
.sunlight-closeTag,
.sunlight-xmlOpenTag,
.sunlight-xmlCloseTag,
.sunlight-aspOpenTag,
.sunlight-aspCloseTag,
.sunlight-label,
.sunlight-css .sunlight-importantFlag ***REMOVED***
	background-color: #FFFF99 !important;
	color: #000000 !important;
***REMOVED***
.sunlight-function,
.sunlight-globalFunction,
.sunlight-ruby .sunlight-specialFunction,
.sunlight-objective-c .sunlight-messageDestination,
.sunlight-6502asm .sunlight-illegalOpcode,
.sunlight-powershell .sunlight-switch,
.sunlight-lisp .sunlight-macro,
.sunlight-lisp .sunlight-specialForm,
.sunlight-lisp .sunlight-type,
.sunlight-sln .sunlight-sectionName,
.sunlight-diff .sunlight-rangeInfo ***REMOVED***
	color: #B069AF !important;
***REMOVED***

.sunlight-variable,
.sunlight-specialVariable,
.sunlight-environmentVariable,
.sunlight-objective-c .sunlight-messageArgumentName,
.sunlight-lisp .sunlight-globalVariable,
.sunlight-ruby .sunlight-globalVariable,
.sunlight-ruby .sunlight-instanceVariable,
.sunlight-sln .sunlight-operator ***REMOVED***
	color: #325484 !important;
***REMOVED***
.sunlight-regexLiteral,
.sunlight-lisp .sunlight-operator,
.sunlight-6502asm .sunlight-pseudoOp,
.sunlight-erlang .sunlight-macro ***REMOVED***
	color: #FF00B2 !important;
***REMOVED***
.sunlight-specialVariable ***REMOVED***
	font-style: italic !important;
	font-weight: bold !important;
***REMOVED***
.sunlight-csharp .sunlight-pragma,
.sunlight-preprocessorDirective,
.sunlight-vb .sunlight-compilerDirective,
.sunlight-diff .sunlight-mergeHeader,
.sunlight-diff .sunlight-noNewLine ***REMOVED***
	color: #999999 !important;
	font-style: italic !important;
***REMOVED***
.sunlight-xmlDocCommentMeta,
.sunlight-java .sunlight-annotation,
.sunlight-scala .sunlight-annotation,
.sunlight-docComment ***REMOVED***
	color: #808080 !important;
***REMOVED***
.sunlight-quotedIdent,
.sunlight-ruby .sunlight-subshellCommand,
.sunlight-lisp .sunlight-keywordArgument,
.sunlight-haskell .sunlight-infixOperator,
.sunlight-erlang .sunlight-quotedAtom ***REMOVED***
	color: #999900 !important;
***REMOVED***



/* xml */
.sunlight-xml .sunlight-string ***REMOVED***
	color: #990099 !important;
***REMOVED***
.sunlight-xml .sunlight-attribute ***REMOVED***
	color: #FF0000 !important;
***REMOVED***
.sunlight-xml .sunlight-entity ***REMOVED***
	background-color: #EEEEEE !important;
	color: #000000 !important;
	border: 1px solid #000000 !important;
***REMOVED***
.sunlight-xml .sunlight-doctype ***REMOVED***
	color: #2B91AF !important;
***REMOVED***

/* javascript */
.sunlight-javascript .sunlight-reservedWord ***REMOVED***
	font-style: italic !important;
***REMOVED***

/* css */
.sunlight-css .sunlight-microsoftFilterPrefix ***REMOVED***
	color: #FF00FF !important;
***REMOVED***
.sunlight-css .sunlight-rule ***REMOVED***
	color: #0099FF !important;
***REMOVED***
.sunlight-css .sunlight-keyword ***REMOVED***
	color: #4E65B8 !important;
***REMOVED***
.sunlight-css .sunlight-class ***REMOVED***
	color: #FF0000 !important;
***REMOVED***
.sunlight-css .sunlight-id ***REMOVED***
	color: #8A8E13 !important;
***REMOVED***
.sunlight-css .sunlight-pseudoClass,
.sunlight-css .sunlight-pseudoElement ***REMOVED***
	color: #368B87 !important;
***REMOVED***

/* bash */
.sunlight-bash .sunlight-hashBang ***REMOVED***
	color: #3D97F5 !important;
***REMOVED***
.sunlight-bash .sunlight-verbatimCommand ***REMOVED***
	color: #999900 !important;
***REMOVED***
.sunlight-bash .sunlight-variable,
.sunlight-bash .sunlight-specialVariable ***REMOVED***
	color: #FF0000 !important;
***REMOVED***

/* python */
.sunlight-python .sunlight-specialMethod ***REMOVED***
	font-weight: bold !important;
	color: #A07DD3;
***REMOVED***

/* ruby */
.sunlight-ruby .sunlight-symbol ***REMOVED***
	font-weight: bold !important;
	color: #ED7272 !important;
***REMOVED***

/* brainfuck */
.sunlight-brainfuck ***REMOVED***
	font-weight: bold !important;
	color: #000000 !important;
***REMOVED***
.sunlight-brainfuck .sunlight-increment ***REMOVED***
	background-color: #FF9900 !important;
***REMOVED***
.sunlight-brainfuck .sunlight-decrement ***REMOVED***
	background-color: #FF99FF !important;
***REMOVED***
.sunlight-brainfuck .sunlight-incrementPointer ***REMOVED***
	background-color: #FFFF99 !important;
***REMOVED***
.sunlight-brainfuck .sunlight-decrementPointer ***REMOVED***
	background-color: #66CCFF !important;
***REMOVED***
.sunlight-brainfuck .sunlight-read ***REMOVED***
	background-color: #FFFFFF !important;
***REMOVED***
.sunlight-brainfuck .sunlight-write ***REMOVED***
	background-color: #99FF99 !important;
***REMOVED***
.sunlight-brainfuck .sunlight-openLoop, .sunlight-brainfuck .sunlight-closeLoop ***REMOVED***
	background-color: #FFFFFF !important;
***REMOVED***

/* 6502 asm */
.sunlight-6502asm .sunlight-label ***REMOVED***
	font-weight: bold !important;
	color: #000000 !important;
	background: none !important;
***REMOVED***

/* lisp */
.sunlight-lisp .sunlight-macro ***REMOVED***
	font-style: italic !important;
***REMOVED***

/* erlang */
.sunlight-erlang .sunlight-atom ***REMOVED***
	font-weight: bold !important;
***REMOVED***

dt.class-depth-0 a,
.dropdown-menu > li.class-depth-0 > a ***REMOVED***
  padding-left: 0;
***REMOVED***

dt.class-depth-1 a,
.dropdown-menu > li.class-depth-1 > a ***REMOVED***
  padding-left: 0;
***REMOVED***

dt.class-depth-2 a,
.dropdown-menu > li.class-depth-2 > a ***REMOVED***
  padding-left: 20px;
***REMOVED***

dt.class-depth-3 a,
.dropdown-menu > li.class-depth-3 > a ***REMOVED***
  padding-left: 40px;
***REMOVED***