***REMOVED***% extends "partials/layout.html" %***REMOVED*** ***REMOVED***% load static %***REMOVED*** ***REMOVED***% block headcdn %***REMOVED*** ***REMOVED***% endblock %***REMOVED*** ***REMOVED***% block content %***REMOVED*** WELCOME ***REMOVED******REMOVED***email***REMOVED******REMOVED***
<div class="row">
    <div class="col">
        <div id="game-container"></div>
    </div>
    <div class="col">
        <div class="btn-group mb-5">
            <button id="switchVillage" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ***REMOVED******REMOVED***selectedVillage.villageName***REMOVED******REMOVED***
            </button>
            <div class="dropdown-menu">
                ***REMOVED***% for village in myVillages %***REMOVED***
                    <a class="dropdown-item" href="#">***REMOVED******REMOVED***village.villageName***REMOVED******REMOVED***</a>
                ***REMOVED***%endfor%***REMOVED***
            </div>
        </div>
        <div id="villageOverview" class="card fadeInRight d-none" >
            <div class="card-header">
                Village Overview
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="#" class="btn btn-primary btn-block">Check Village Details</a>
            <a href="#" class="btn btn-primary mt-3 btn-block">Check Player Details</a>
            </div>

        </div>
    </div>
</div>
<div id="tooltip">
    <span></span>
</div>

<div class='map-data' map-data='***REMOVED******REMOVED***publicVillages***REMOVED******REMOVED***'></div>
***REMOVED***% endblock %***REMOVED*** 
***REMOVED***% block footerjs %***REMOVED***
<script type="text/javascript" src="***REMOVED***% static 'wololo/assets/js/phaser/build/phaser.min.js' %***REMOVED***"></script>
<script type="text/javascript" src="***REMOVED***% static 'wololo/assets/js/easystar-0.2.3.js' %***REMOVED***"></script>
<script type="text/javascript" src="***REMOVED***% static 'wololo/assets/js/Pathfinding.js' %***REMOVED***"></script>
<script type="text/javascript" src="***REMOVED***% static 'wololo/js/game.js' %***REMOVED***"></script>

***REMOVED***% endblock %***REMOVED***