***REMOVED***% extends "layout.html" %***REMOVED***
***REMOVED***% load static %***REMOVED***

***REMOVED***% block headcdn %***REMOVED***

***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
    
    <form action="/register" method="post">
        ***REMOVED***% csrf_token %***REMOVED***
        Email:
        <input type="email" name="email">
        Password:
        <input type="password" name="pass">
        <input type="submit">
    </form>

***REMOVED***% endblock %***REMOVED***


***REMOVED***% block footerjs %***REMOVED***


***REMOVED***% endblock %***REMOVED***