***REMOVED***% extends "partials/layout.html" %***REMOVED*** 
***REMOVED***% load static %***REMOVED*** 

***REMOVED***% block headcdn %***REMOVED*** 
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
<div id="villageDataJSON" data='***REMOVED******REMOVED***data.selectedVillage***REMOVED******REMOVED***'></div>
<div id="gameConfigData" data='***REMOVED******REMOVED***data.gameConfig***REMOVED******REMOVED***'></div>



***REMOVED***% include "partials/villageResources.html" %***REMOVED***

<div class="village-content">
    <!-- ***REMOVED******REMOVED***data.selectedVillage***REMOVED******REMOVED*** -->
    <ul class="list-group">
        <!-- ***REMOVED******REMOVED***data.selectedVillage.villageName***REMOVED******REMOVED***  -->
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Town center level ***REMOVED******REMOVED***data.selectedVillage.townCenter.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="townCenter" class="upgradeBuildings">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
    
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="upgrade btn btn-primary" id="townCenter">Upgrade</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                        Wood Camp level ***REMOVED******REMOVED***data.selectedVillage.resources.woodCamp.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="woodCamp" class="upgradeResources" resourceType="wood">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="upgrade btn btn-primary" id="resources.woodCamp">Upgrade</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Iron Mine level ***REMOVED******REMOVED***data.selectedVillage.resources.ironMine.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="ironMine" class="upgradeResources" resourceType="iron">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="upgrade btn btn-primary" id="resources.ironMine">Upgrade</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Clay Pit level ***REMOVED******REMOVED***data.selectedVillage.resources.clayPit.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="clayPit" class="upgradeResources" resourceType="clay">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="upgrade btn btn-primary" id="resources.clayPit">Upgrade</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Storage level ***REMOVED******REMOVED***data.selectedVillage.storage.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="storage" class="upgradeBuildings">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col">
                    <button class="upgrade .popover-dismiss btn btn-primary" buildingName="storage" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Upgrade</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <a href="/game/barracks" >Barracks</a> level ***REMOVED******REMOVED***data.selectedVillage.barracks.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="barracks" class="upgradeBuildings">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col">
                    <button class="upgrade btn btn-primary" id="barracks">Upgrade</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Farm level ***REMOVED******REMOVED***data.selectedVillage.farm.level***REMOVED******REMOVED***
                </div>
                <div class="col">
                    <div buildingName="farm" class="upgradeBuildings">
                        <div class="row">
                            <div class="col">
                                <div class="neededWood">XXX</div> Wood
                            </div>
                            <div class="col">
                                <div class="neededIron">XXX</div> Iron
                            </div>
                            <div class="col">
                                <div class="neededClay">XXX</div> Clay
                            </div>
                            <div class="col">
                                <div class="neededTime">
                                    XXX
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col">
                    <button class="upgrade btn btn-primary" id="farm">Upgrade</button>
                </div>
            </div>
        </li>
    </ul> 
    
    <div class="modal fade" id="insufficentResources" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Insufficent Resources!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ouh, okay</button>
            </div>
            </div>
        </div>
    </div>
</div>
***REMOVED***% endblock %***REMOVED*** 
***REMOVED***% block footerjs %***REMOVED***

<div id="wholeData" data='***REMOVED******REMOVED***data***REMOVED******REMOVED***'></div>

<script type="text/javascript" src="***REMOVED***% static 'wololo/assets/js/phaser/build/phaser.min.js' %***REMOVED***"></script>
<script type="text/javascript" src="***REMOVED***% static 'wololo/js/villages.js' %***REMOVED***"></script>
<script type="text/javascript" src="***REMOVED***% static 'wololo/js/villageResources.js' %***REMOVED***"></script>

***REMOVED***% endblock %***REMOVED***