***REMOVED***% extends "partials/layout.html" %***REMOVED*** ***REMOVED***% load static %***REMOVED*** ***REMOVED***% block headcdn %***REMOVED*** ***REMOVED***% endblock %***REMOVED*** ***REMOVED***% block content %***REMOVED*** THIS IS MY VILLAGE welcome ***REMOVED******REMOVED***email***REMOVED******REMOVED*** ***REMOVED***% endblock %***REMOVED*** ***REMOVED***% block footerjs %***REMOVED***
<script type="text/javascript" src="***REMOVED***% static 'wololo/assets/js/phaser/build/phaser.min.js' %***REMOVED***"></script>
<!-- <script type="text/javascript" src="***REMOVED***% static 'wololo/js/game.js' %***REMOVED***"></script> -->

***REMOVED***% endblock %***REMOVED***