***REMOVED***% load static %***REMOVED***

<html>
    <head>
        <title>Wololo</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="***REMOVED***% static 'wololo/beforeLogin/css/index.css' %***REMOVED***" type="text/css">
   

        ***REMOVED***% block headcdn %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***


    </head>
    <body>
        ***REMOVED***% include "beforeLogin/partials/navbar.html" %***REMOVED***
        
        <div class="container">
            ***REMOVED***% block content %***REMOVED***
            ***REMOVED***% endblock %***REMOVED***
        </div>

        <!-- Welcome broooo -->

        ***REMOVED***% include 'beforeLogin/partials/footer.html' %***REMOVED***

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
        
        ***REMOVED***% block footerjs %***REMOVED***
        ***REMOVED***% endblock %***REMOVED***

    </body>
</html>